/*
header img {
    display: block; 
    width: 100%;
    
}
*/
body {
    font-family: Montserrat;
}
.header {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   position: relative;
}
.brand {
    text-align: center;
    padding-top: 40px;
    text-transform: uppercase;
}

/*
.version{
    position: absolute;
    color: #fff;
    right: 0;
}
*/

h2 {
    padding: 10px 0;
}
.header-img {
    font-size: 54px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: 1px solid #fff;
    position: absolute;
    bottom: 89px;
    left: 134px;
    padding: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    
}
.header-img span{
    color: #f1ad1d;
}
.our-services__img div {
    float: left;
    margin: 10px;
   
}
.our-services__img{
    width: 50%;
}
